body {
  max-width: 1280px;
  margin: 20 auto;
  padding: 2rem;
}
button {
  margin-left: 20px;
}
button:hover {
  border-color: #646cff;
}

.textColor {
  text-decoration: none;
  color: blueviolet;
  margin: 10px;
  background-color: azure;
  padding: 5px 10px;
}

.activeItem {
  color: aliceblue;
  background-color: blueviolet;
}

ul {
  display: flex;
}

li {
  list-style: none;
  text-decoration: none;
}

.liInput {
  margin-right: 20px;
}
